-in:
  - label: floor0
    address: 0.0.b
  - label: floor1
    address: 0.1.b
  - label: floor2
    address: 0.2.b
  - label: floor3
    address: 0.3.b
  - label: floor4
    address: 0.4.b
  - label: doors
    address: 0.5.b
  - label: moveUp
    address: 0.6.b
  - label: moveDown
    address: 0.7.b
-out:
  - label: floorReq0
    address: 0.0.b
  - label: floorReq1
    address: 0.1.b
  - label: floorReq2
    address: 0.2.b
  - label: floorReq3
    address: 0.3.b
  - label: floorReq4
    address: 0.4.b
  - label: cabinReq0
    address: 0.5.b
  - label: cabinReq1
    address: 0.6.b
  - label: cabinReq2
    address: 0.7.b
  - label: cabinReq3
    address: 0.8.b
  - label: cabinReq4
    address: 0.9.b
  - label: stop
    address: 0.10.b
